.header {
  background-color: #f6b4c4;
  border: black solid 1px;
  color: blue;
}
.section_1,
.article_1 {
  background-color: aqua;
  border: black solid 1px;
  margin: 5px;
  padding: 5px;
  width: 30%;
}
/* .article_1 { */
/* } */
.main {
  max-width: 960px;
  box-sizing: border-box;
  text-align: justify;
}
.navigation {
  background-color: cadetblue;
  border: 1px black solid;
}
.footer {
  background: black;
  color: aliceblue;
  border: 1px black solid;
}
