.header {
  border: black solid 1px;
  color: blue;
  padding: 3px 0 3px 20px;
  margin: 0 5px;
}
h5 {
  padding: 3px 0 3px 20px;
  margin: 0 5px;
}
.main {
  border: 1px black solid;
  width: 50%;
  margin: 5px;
  background-color: rgb(221, 221, 63);
  padding: 5px;
  float: left;
}
.article_1 {
  border: black solid 1px;
  margin: 5px;
  padding: 5px;
  background-color: bisque;
}

.navigation {
  border: 1px black solid;
  width: 30%;
  height: 435px;
  padding: 5px;
  margin: 5px;
  float: right;
}
a {
  color: rgb(218, 72, 72);
  text-decoration: none;
}
.btn {
  background: #4c6ca0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
}

.clr {
  clear: both;
}
.footer {
  background: black;
  color: aliceblue;
  border: 1px black solid;
  margin: 5px;
  padding: 3px 0 3px 20px;
}
