.header {
  border: black solid 1px;
  color: blue;
  padding: 5px;
  margin: 5px;
}
.section_1,
.article_1 {
  border: black solid 1px;
  margin: 5px;
  padding: 5px;
  width: 33%;
}
.section_1 {
  fload: left;
}

.main {
  max-width: 960px;
  box-sizing: border-box;
  text-align: justify;
}
.navigation {
  border: 1px black solid;
  width: 55%;
  float: right;
  padding: 5px;
  margin: 5px;
}
.footer {
  background: black;
  color: aliceblue;
  border: 1px black solid;
  margin: 5px;
  padding: 5px;
}
.clr {
  clear: both;
}
