body {
  font-family: "Fjalla One", sans-serif;
  color: white;
  line-height: 1.8;
  background-color: #64a5e6;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;

  background-color: aliceblue;
  /* widows: 50%; */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
